.container-task {
  list-style: none;
  color: black;
  font-weight: 620;
  display: flex;
  align-items: center;
}

.button-delete {
  border: none;
  cursor: pointer;
}

.img-delete {
  padding-left: 12px;
  width: 20px;
}