.form-label {
  display: flex;
  color: black;
  font-weight: 600;
}

.form-input {
  border: none;
  color: #303030;
  border: 2px solid black;
  border-radius: 12px;
  width: 400px;
  height: 40px;
  text-align: left;
  padding-left: 12px;
}

.button-save img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  list-style: none;
  border: none;
}