.container-task {
  list-style: none;
  color: black;
  font-weight: 620;
  display: flex;
  align-items: center;
}

.button-delete {
  width: 30px;
  height: 35px;
  list-style: none;
  background-color: red;
  
}

.button-delete img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}