#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container-main {
  background-color: rgb(170, 250, 138);
  padding: 10px 100px;
}

.main-title {
  color: black;
}