
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 12rem 0 12rem;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
/*Contenedor para el input y el boton*/
.container-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 12px;
}
.form-input {
  border: none;
  color: #303030;
  border: 2px solid black;
  border-radius: 12px;
  width: 400px;
  height: 40px;
  text-align: left;
  padding-left: 12px;
}

.button-save {
  background-color: black;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-left: 4px;
}

.img-save{
 width: 24px;
}