.container-task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  word-break: break-word;
  max-width: 420px;
  margin-top: 12px;
  color: black;
  font-weight: 500;
  border-bottom: 2px solid rgba(83, 82, 82, 0.4);
}
.container-task:last-child{
  border-bottom: none;
}

.container-checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-text {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  margin-left: 8px;
}
.task-marking {
  margin-right: 12px;
}

.container-button {
  display: flex;
  justify-content: right;
  align-items: center;
}
.button-delete {
  border: none;
  cursor: pointer;
  background-color: transparent
}
.img-delete {
  width: 20px;
  padding-left: 12px;
}